<h2>Contact</h2>
<p>Here is my basic contact information.</p>
<ul>
  <li>Email: <a href="dvanslambrouck1@student.cvtc.edu">dvanslambrouck1@student.cvtc.edu</a></li>
  <li>Phone: <a href="tel:657-888-2985">657-888-2985</a></li>
</ul>