$noticeColor: green;
$width: 960px;

#notice {
  color: $noticeColor;
  margin: auto;
  text-transform: uppercase;
  font-family: georgia;
  font-size: 4vw;
  
  @media only screen and (min-width: $width){
    font-size: 1.5vw;
  }
  
}